* {
  box-sizing: border-box;
}

h1 {
  color: blue;
  font-size: 3rem;
  text-align: center;
  background-color: bisque;
  padding: 8px;
  margin-top: 0%;
}

.flex-container1 {
  display: flex;
  background-color: lightsalmon;
  flex-direction: column;
}

.sunflower-answer {
  background-color: chocolate;
  border: 0cqmax;
  color: white;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  height: 0px;
  width: 100px;
  justify-content: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(151, 108, 10);
}

p {
  text-align: center;
  color: rgba(60, 12, 12, 0.811);
  font-size: large;
}

ul#list {
  text-align: left;
  list-style: none;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.list-horizontal {
  display: flex;
  margin: 0auto;
  border: 0cqmax;
  color: black;
}
